
table {
    width: 40%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    height: 10px;
}

th {
    background-color: #79be43;
    color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}